.navbar {
  width: 100vw;
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: space-between;
  /* padding: 3px; */
  position: fixed;
  top: 0;
  background-color: white;
  color: #004d00;
}

.navbar-left {
    margin: 16px;
    font-size: 26px;
    color: #004d00;
    font-weight: bold;
    font-family: 'Comfortaa';
    display: flex;   
}

.navbar-left i {
  margin: 0px 8px;
}

.navbar-right {
  font-family: 'Montserrat';
  font-size: 14px;
  display: flex;
  margin: 8px;
  vertical-align: middle;
}

.navbar-right div {
    margin: 6px 8px;
    border-radius: 8px;
    background-color: #F4FFF6;
    padding: 5px 9px;
    border: 2px solid #004d00;
    /* height: 26px; */
}