.navbar {
  width: 100vw;
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: space-between;
  /* padding: 3px; */
  position: fixed;
  top: 0;
  background-color: white;
  opacity: 1;
  z-index: 10;
  color: #004d00;
}

.navbar-left {
    margin: 16px;
    font-size: 26px;
    color: #004d00;
    font-weight: bold;
    font-family: 'Comfortaa';
    display: flex;   
}

.navbar-left i {
  margin: 0px 8px;
}

.navbar-right {
  font-family: 'Montserrat';
  font-size: 15px;
  display: flex;
  margin: 8px;
  vertical-align: middle;
}

.navbar-right div {
  margin: 6px 8px;
  border-radius: 8px;
  padding: 5px 9px;

  
  /* background-color: #004d00;
  font-weight: 600;
  color: white; */
  /* background-color: #F4FFF6; */
    /* border: 2px solid #004d00;  */
}

.navbar-right div:hover {
  /* background-color: #f2f2f2; */
  /* border: 1px solid #004d00; */
  font-weight: bold;
  cursor: pointer;
}

.dark-green-button {
  margin: 6px 16px;
  border-radius: 4px;
  padding: 6px 9px;
  background-color: #004d00;
  font-weight: 800;
  color: white;
  font-size: 14px;
  /* height: 26px; */
}

.dark-green-button:hover {
  background-color: #004000;
  background-color: rgb(230, 115, 0);
  
}

.bar-group{
  fill:#fff
}