.history-page {
    margin-top: 100px;
    height: 100vh;
    width: 100vw;
   
    font-family:'Montserrat';
    font-size: 12px;
}

.history-flex {
    display: flex;
    justify-content: center;
    padding: 50px;
}



.bar {
    fill: #004d00;
}

.bar:hover {
    fill: #003000;
    cursor: pointer;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}


.history-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #004d00;

    /* color: rgb(230, 115, 0) */
}

.right-side {
    width: 300px;
   
    border: 3px solid rgb(230, 115, 0);
    border-radius: 10px;
    margin: 50px;
    padding: 20px;
}



.button-flex {
    display: flex;
}

.button-flex:hover {
    font-weight: bold;
    cursor: pointer;
}

.error-title {
    /* font-weight: bold; */
    font-size: 14px;
    margin-bottom: 5px;

}

.session-title {
    font-size: 14px;
    margin: 4px 5px;
    color: #003000;
    /* font-weight: bold; */
}

.session-date {
    margin: 6px 5px;
    color: #404040;
}

.text-selection {
     /* font-weight: bold; */
    font-size: 16px;
    color: #304030;
    margin: 8px 0px;
}

.selected-text{
    margin-left: 15px;
}

.bold {
    /* font-weight: bold; */
    color: #304030;
    margin-left: 15px;

}

.error-list li {
    padding: 3px 0px;

}